.fa-facebook {
  position: relative;
  z-index: 50;
  color: rgb(5, 108, 219);
}
.fa-user-circle {
  position: relative;
  color: rgb(37, 138, 247);
}
.fa-plus-circle {
  z-index: 1;
  color: rgb(224, 226, 227);
}

.fa-chevron-right {
  color: rgb(153, 153, 153);
}

.fa-info-circle {
  color: rgb(37, 138, 247);
}
