@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

* {
    text-decoration: none;
    box-sizing: border-box;
  }

  html {
    font-family: "Lato", "Noto Sans KR", sans-serif, Malgungothic, "맑은고딕",
      Dotum, "돋움";
  }

  button {
  all: unset;
  cursor: pointer;  
}
